@charset "UTF-8";

@media screen and (min-width: 768px) {
    header > #icone-menu {
        display: none;
    }

    nav {
        display: block;
    }

    nav > ul > li{
        display: inline-block;
        width: 100px;
    }

    main {
        max-width: 768px;
    }
}